<!doctype html>
<html>
    
<head>
    <title>User Login </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
        
<body>  
    <div class="form-container">
        <p class="form-header">Login</p>
        <form method="POST" action="/signin">
            <label>Username:</label>
            <input type="text" id="username" name="username"><br>
            <input type="submit" id="login" value="Go to Game">
        </form>
    </div>
</body>
        
</html>
