body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:#E5B22D;
}

input {
  color:#FFFF11;
  background-color:#FF1234;
  border-radius:12px;
}

ul {
    color: blue;
    margin: 0 auto;
    text-align: center;
    display:inline-block;
}
